.databox-container {
	position: relative;
	background-color: #FBAE43;
	width: 23%;
	border-radius: 1rem;
	padding: 0.5625rem 0.5rem 1.125rem;
	text-align: center;
}

.databox-container hr {
	margin: 0.4375rem 0 1rem;
}

.databox-title {
	color: #222222;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
}

.databox-data {
	color: #222222;
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}

.databox-icon-container {
	position: absolute;
	background-color: #222222;
	width: 1.625rem;
	height: 1.625rem;
	border-radius: 50%;
	right: 0;
	top: -0.44rem;
}

.databox-icon-infotext {
	position: absolute;
	width: 14.75rem;
	height: 6.125rem;
	padding: 1.25rem 1.5rem 1.31rem;
	right: 0;
	top: 2.19rem;
	background-color: #FDD6A0;
	z-index: 1;
	border-radius: 0.5rem;
	display: none;
}

.databox-icon-infotext-paragraph {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	text-align: justify;
	line-height: normal;
}

.databox-icon-container:hover {
	.databox-icon-infotext {
		display: block;
	}
}

@media (max-width:900px) {
	.databox-container {
		width: 48%;
	}

	.databox-container:nth-child(1),
	.databox-container:nth-child(2) {
		margin-bottom: 0.81rem;
	}

	.databox-title {
		font-size: 0.75rem;
	}

	.databox-data {
		font-size: 1rem;
	}
}