.reports-description-container {
	background-color: white;
	border-radius: 1rem;
	padding: 0.8125rem 1.875rem;
}

.reports-description-title {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.reports-description-text {
	margin: 0;
	font-weight: 400;
}

.reports-description-text span {
	text-transform: capitalize;
}