.reports-description-container {
	background-color: white;
	border-radius: 16px;
	padding: 13px 30px;
}

.reports-description-title {
	font-size: 24px;
}

.reports-description-text {
	margin: 0;
	font-weight: 400;
}