.headerBar-container {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  grid-area: headerBar-container;
}

.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
