.reports-month-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 73px;
	background-color: #222222;
	border-radius: 16px;
}

.reports-month-button {
	width: 10%;
	border-radius: 16px;
	background-color: transparent;
	border: none;
}

.reports-month-button-text {
	font-size: 24px;
	color: white;
}