.dashboard-layout {
	background-color: #f8f8f8;
	height: 100vh;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 0fr 0.3fr repeat(2, 0.05fr 1fr) 0fr;
	grid-template-rows: 0.3fr 0.5fr 0.7fr 1fr 0.1fr 1.5fr 0.2fr;
	gap: 20px 0px;
	grid-template-areas:
		"headerBar-container headerBar-container headerBar-container headerBar-container headerBar-container headerBar-container headerBar-container"
		". . . . . . ."
		". navBar-container . homepage-title-container homepage-title-container homepage-title-container ."
		". navBar-container . dashboard-resume-container dashboard-resume-container dashboard-resume-container ."
		". navBar-container . . . . ."
		". navBar-container . top-products-container . sales-chart-container ."
		". . . . . . .";
	padding: 40px 60px 0;
}