.passwordReset_formContainer {
	display: flex;
	height: 69.5vh;
	width: 100%;
	align-items: center;
}

.passwordReset_form {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.passwordReset_form .passwordReset-form-label {
	font-size: 1rem;
	margin-bottom: 0.7rem;
}

.passwordReset_form .passwordReset-formInput {
	height: 3.375rem;
	font-size: 1rem;
	padding: 1rem 1.8rem;
	margin-bottom: 23vh;
	background-color: #FDD6A0;
	border-radius: 1rem;
}

.passwordReset_buttonContainer button {
	height: 3.375rem;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1.75rem;
}

@media screen and (max-width: 920px) {
	.passwordReset_formContainer {
		height: 36vh;
	}

	.passwordReset_form .passwordReset-formInput,
	.passwordReset_form .submitButton,
	.passwordReset_buttonContainer .submitButton {
		height: 2.5rem;
		font-size: 0.75rem;
	}

	.passwordReset_form .passwordReset-form-label {
		height: 1.2rem;
		font-size: 0.75rem;
		margin-bottom: 0.56rem;
	}

	.passwordReset_form {
		justify-content: flex-start;
		margin-top: 2rem;
	}

	.passwordReset_form .passwordReset-formInput {
		margin-bottom: 10.6vh;
	}

	.passwordReset_buttonContainer .submitButton {
		margin-bottom: 1rem;
	}

}