.passwordReset_formContainer {
	display: flex;
	height: 100%;
	width: 100%;
}

.passwordReset_form {
	height: 100%;
	width: 100%;
}

.passwordReset_form .form-label {
	font-size: 1rem;
	margin-bottom: 0.7rem;
}

.passwordReset_form .formInput {
	height: 3.5rem;
	font-size: 1rem;
	padding: 1rem 1.8rem;
	margin-bottom: 12rem;
}

.passwordReset_buttonContainer button {
	height: 3.5rem;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1.75rem;
}

@media screen and (max-width: 920px) {

	.passwordReset_form .form-label,
	.passwordReset_form .formInput,
	.passwordReset_form .submitButton,
	.passwordReset_buttonContainer .submitButton {
		font-size: 0.75rem;
	}

	.passwordReset_form {
		margin-top: 2rem;
	}

	.passwordReset_form .formInput {
		margin-bottom: 5rem;
	}

	.passwordReset_buttonContainer button {
		margin-bottom: 1rem;
	}

}