.login_logo-resp-container {
	display: none;
}

@media screen and (max-width: 920px) {
	.login_logo-resp-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: 4.835rem;
	}

	.login_logo-resp-container img {
		height: 2.4375rem;
	}
}