.add-product-title-container {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	grid-area: add-product-title-container;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.add-product-title {
	width: 100%;
	grid-area: add-product-title;
	display: flex;
	align-self: center;
	justify-content: flex-start;
}

.add-product-title h2 {
	margin: 0;
	padding: 0;
}

.add-product-title {
	text-align: start;
}

.add-product-saveButton {
	width: 100%;
	justify-self: flex-end;
	justify-content: flex-end;
	align-self: center;
	display: flex;
	flex-direction: row;
	grid-area: add-product-saveButton;
}

.add-product-saveButton button {
	width: 150px;
	margin-left: 20px;
}

.add-product-info-container {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.5fr repeat(2, 1fr);
	gap: 0px 0px;
	grid-template-areas:
		"addProduct-info-title addProduct-info-title addProduct-info-title"
		"addProduct-info-img addProduct-info-name addProduct-info-brand"
		"addProduct-info-img addProduct-info-id addProduct-info-category";
	grid-area: add-product-info-container;
	border-radius: 25px;
}

.addProduct-info-title {
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	grid-area: addProduct-info-title;
	border-bottom: 1px solid black;
	margin-bottom: 2%;
}

.addProduct-info-title h2 {
	margin: 0;
	padding: 0;
}

.addProduct-info-img {
	display: grid;
	grid-template-columns: 0.1fr 1fr 0.1fr;
	grid-template-rows: 0.1fr 1fr 0.1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . ."
		". addProduct-image-circle ."
		". . .";
	grid-area: addProduct-info-img;
}

.addProduct-image-circle {
	width: 50%;
	height: 75%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.7fr;
	gap: 0px 0px;
	grid-template-areas:
		"pictureIcon"
		"addProduct-semiCirlce-wrapper";
	grid-area: addProduct-image-circle;
	justify-content: center;
	justify-self: center;
	justify-items: center;
	align-items: center;
	align-self: center;
	align-content: center;
}

.pictureIcon img {
	width: 24px;
	height: 24px;
	margin-top: 150%;
}

.pictureIcon {
	grid-area: pictureIcon;
}



.addProduct-info-name {
	grid-area: addProduct-info-name;
}

.addProduct-info-id {
	grid-area: addProduct-info-id;
}

.addProduct-info-brand {
	grid-area: addProduct-info-brand;
}

.addProduct-info-category {
	grid-area: addProduct-info-category;
}

.add-product-char-container {
	width: 100%;
	height: 110%;
	background-color: #ffffff;
	grid-area: add-product-char-container;
	border-radius: 25px;
}

.char-title {
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
}

.char-title h2 {
	margin: 0;
	padding: 0;
}

.char {
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
}

.addProduct-buttons-container {
	display: flex;
	flex-direction: row;
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
}

.add-product-stock-container {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	grid-area: add-product-stock-container;
	display: flex;
	flex-direction: column;
	border-radius: 25px;
}

.addProduct-stock-title {
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
}

.addProduct-buttons {
	height: 100%;
	display: flex;
	flex-direction: row;
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	justify-content: space-between;
	align-items: center;
}

.addProduct-buttons button {
	height: 40px;
	width: 70px;
}

.addProduct-stock {
	display: flex;
	height: 40px;
	width: 90px;
	background-color: #000;
	color: #ffffff;
	align-items: center;
	justify-content: center;
}

.add-product-price-container {
	width: 100%;
	height: 120%;
	background-color: #ffffff;
	grid-area: add-product-price-container;
	border-radius: 25px;
}

.addProduct-price-title {
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
}

.addProduct-price-input {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0% 4% 0% 4%;
	padding-top: 1.5%;
	padding-bottom: 1%;
}

.addProduct-editable-input {
	border: none;
	border-bottom: 2px solid #e2e2e2;
	outline: none;
	font-size: 16px;
	padding: 5px;
	transition: border-color 0.3s;
	width: 80%;
}

.addProduct-editable-input-yellow {
	border: none;
	background-color: #fbae43;
	text-align: center;
}

.imgProduct-container{
	width: 100%;
	background-color: transparent !important;
	display: flex;
}


.img-circle {
	border-radius: 50%;
	max-width: 40%; 
	height: auto;
  }


  .messure{
	height: 50px;
	display: flex;
	flex-direction: row;
  }

  .circular-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
  }

  .circular-image-container {
	width: 150px;
	height: 150px;
	border-radius: 50%; 
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .circular-image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 50%;
  }

  z-index-correction{
	z-index: 10;
  }
  .addProduct-info-category{
	position: relative;
	z-index: 1
  }

  .text-toast{
	font-size: 14px;
	width: 600px;
  }

  .closeRed{
	width: 20px;
  }

