.login_layout {
	height: 100vh;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 0.9fr 1.5fr;
	grid-template-rows: 1fr 0.5fr 2fr 1fr;
	gap: 0px 120px;
	grid-template-areas:
		"login_imageContainer login_logoContainer"
		"login_imageContainer login_titleContainer"
		"login_imageContainer login_formContainer";
	overflow-y: hidden;
}