.passwordReset_titleLogoContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    "passwordReset_titleContainer passwordReset_titleContainer passwordReset_logoContainer";
  grid-area: passwordReset_titleLogoContainer;
}
