.passwordReset_titleLogoContainer {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 920px) {
	.passwordReset_titleLogoContainer {
		justify-content: center;
		border-bottom: #00000099 1px solid;
	}
}