.costs-carousel {
	display: none;
}

.reports-costs-container {
	background-color: white;
	border-radius: 1rem;
	padding: 0.8125rem 1.875rem 0.9375rem;
}

.reports-costs-container hr {
	margin: 0.8125rem 0 0.5625rem;
	opacity: 0.6;
	border-color: black;
}

.reports-costs-title {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
}

.reports-costs-table {
	width: 100%;
}

.reports-costs-table tr {
	box-shadow: none;
	border-radius: 0;
}

.reports-costs-table-header {
	border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
}

.reports-costs-table-header th {
	background-color: white;
	color: rgba(0, 0, 0, 0.25);
	font-size: 1rem;
	font-weight: 400;
}

@media (max-width: 900px) {
	.reports-costs-container {
		display: none;
	}

	.costs-carousel {
		display: inline-block;
		margin-bottom: 1.6rem;
	}

	.costs-carousel hr {
		margin-bottom: 0;
	}

	.reports-costs-title {
		font-size: 1rem;
	}

	.reports-costs-table-header th {
		font-size: 0.75rem;
	}

	.costs-carousel {
		background-color: white;
		border-radius: 1rem;
		width: 100%;
		padding: 0.69rem;
	}

	.costs-carousel-item {
		padding: 1.3rem 2.5rem;
	}

	.costs-carousel-control-next {
		justify-content: flex-end
	}

	.costs-carousel-control-prev {
		justify-content: flex-start;
	}

	.reports-costs-table-header th {
		text-align: left;
	}

	.costs-carousel-indicators {
		margin-bottom: 0;
	}
}