.login_formContainer {
	display: flex;
	height: 0.65fr;
}

.login_form {
	width: 100%;
}

.form-label {
	font-size: 1rem;
	margin-bottom: 0.7rem;
}

.formInput {
	padding: 1rem 1.8rem;
	border: 0;
	border-radius: 15px;
	background-color: rgba(251, 174, 67, 0.6) !important;
	height: 3.5rem;
	margin-bottom: 2rem;
}

#password {
	margin: 0;
}

.formInput::placeholder {
	transform: translateX(-20px);
}

.showPasswordImage {
	width: 25px;
	background-color: transparent;
}

.showPasswordImage-button {
	outline: none !important;
	background-color: rgba(251, 174, 67, 0.6);
	border-radius: 15px;
	border: 0px;
}

.linkToPassReset {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	color: #222222;
	opacity: 60%;
	font-size: 0.875rem;
}

.linkToPassReset:hover {
	text-decoration: bold;
	color: black;
}

.login_buttonContainer {
	display: flex;
	justify-self: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
}


.login_buttonPosition {
	width: 100%;
	display: flex;
	justify-self: center;
	justify-content: center;
	justify-items: center;
}

.login_buttonPosition button {
	margin-top: 50px;
	width: 100%;
	border-radius: 15px;
}

.button-login {
	margin-top: 2.3rem !important;
	height: 3.5rem !important;
}

@media screen and (max-width: 920px) {

	.form-label,
	.formInput,
	.linkToPassReset {
		font-size: 0.75rem;
	}

	.login_buttonContainer button {
		font-size: 0.75rem;
	}

	.login_form-labelInput {
		margin-top: 3.3rem;
	}
}