.login_formContainer {
	display: flex;
	height: 100%;
}

.login_form {
	width: 100%;
	height: 100%;
}

.login_form-label {
	font-size: 1rem;
	margin-bottom: 0.69rem;
}

.login-formInput {
	padding: 0 1.8rem;
	border: 0;
	border-radius: 1rem;
	background-color: rgba(251, 174, 67, 0.6) !important;
	height: 3.375rem;
	margin-bottom: 1.94rem;
}

.login-formInput:focus {
	border: none !important;
}

#password {
	margin: 0;
}

.showPasswordImage {
	height: 1.5rem;
	width: 1.5rem;
	background-color: transparent;
}

#button-addon2 {
	outline: none;
	background-color: rgba(251, 174, 67, 0.6);
	border-radius: 0 1rem 1rem 0;
	border: 0;
	height: 3.375rem;
	border: none !important;
	margin-left: 0;
}

.linkToPassReset {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	color: #222222;
	opacity: 60%;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.linkToPassReset:hover {
	text-decoration: bold;
	color: black;
}

.login_buttonContainer {
	display: flex;
	justify-self: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
}


.login_buttonPosition {
	width: 100%;
	display: flex;
	justify-self: center;
	justify-content: center;
	justify-items: center;
}

.login_buttonPosition button {
	margin-top: 50px;
	width: 100%;
	border-radius: 1rem;
}

.button-login {
	margin-top: 2.31rem !important;
	height: 3.375rem !important;
}

.formInput-error {
	border: 1.5px solid #F14B4B;
	border-radius: 1rem;
}

@media screen and (max-width: 920px) {

	.login_form-label,
	.login-formInput,
	.linkToPassReset {
		font-size: 0.75rem;
		height: 0.875rem;
	}

	.login_form-labelInput {
		margin-top: 3.3rem;
	}

	.login_form-label {
		margin-bottom: 0.56rem;
	}

	.login-formInput {
		height: 2.3rem;
		margin-bottom: 2.19rem;
	}

	.input-group #login-input-group {
		height: 2.3rem;
	}

	.showPasswordImage {
		height: 1.5rem;
		width: 1.5rem;
	}

	.showPasswordImage-button {
		height: 2.3rem !important;
	}

	.linkToPassReset {
		margin-top: 0.37rem;
	}

	.button-login {
		height: 2.5rem !important;
	}

	.login_buttonContainer button {
		font-size: 0.75rem;
	}

	.button-login {
		margin-top: 3.31rem !important;
	}
}