.passwordReset_layout {
	height: 100vh;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 0.9fr 1.5fr;
	grid-template-rows: 1fr 0.5fr 1fr 1fr;
	gap: 0px 50px;
	grid-template-areas:
		"login_imageContainer passwordReset_titleLogoContainer"
		"login_imageContainer passwordReset_textContainer"
		"login_imageContainer passwordReset_formContainer"
		"login_imageContainer passwordReset_buttonContainer";
}

