.passwordReset_layout {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 0.45fr 0.55fr;
	grid-template-rows: 1fr;
	gap: 0;
	grid-template-areas:
		"login_imageContainer login-main-reset-container";
}

.login-main-reset-container {
	display: grid;
	height: 100vh;
	width: 100%;
	padding: 0 7.5rem;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: 0.22fr 0.085fr 0.695fr;
	gap: 0;
	grid-template-areas:
		"passwordReset_titleLogoContainer"
		"passwordReset_textContainer"
		"passwordReset_formContainer";
}

@media screen and (max-width: 920px) {
	.passwordReset_layout {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.login-main-reset-container {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 74.5vh;
		transform: translateY(25.73vh);
		padding: 0 2rem;
		background-color: white;
		border-radius: 1.875rem 1.875rem 0 0;
	}

}