.passwordReset_textContainer {
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      "passwordReset_text passwordReset_text passwordReset_text"
      ". . ."; 
    grid-area: passwordReset_textContainer; 
  }

  .passwordReset_text{
    grid-area: passwordReset_text;
  }
  