.passwordReset_textContainer {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
}

.passwordReset_text {
	margin: 0;
	font-size: 1rem;
}

@media screen and (max-width: 920px) {
	.passwordReset_textContainer {
		height: 10vh;
		align-items: flex-end;
	}

	.passwordReset_text {
		font-size: 0.75rem;
		text-align: justify;
	}
}