.login_logoContainer {
	display: flex;
	height: 11.2rem;
	width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
}

.login_logoImage {
	height: 6.25rem;
}

@media screen and (max-width: 920px) {
	.login_logoContainer {
		display: none;
	}
}