.dashboard-resume-container {
	height: 243px;
	width: 100%;
	background-color: #ffff;
	display: grid;
	grid-template-columns: repeat(4, 0.1fr 1fr) 0.1fr;
	grid-template-rows: 0.4fr 1fr 0.1fr;
	gap: 0px 0px;
	grid-template-areas:
		". dashboard-resume-title dashboard-resume-title dashboard-resume-title dashboard-resume-title dashboard-resume-title dashboard-resume-title dashboard-resume-title ."
		". total-sales . total-cost . ros . products-sales ."
		". . . . . . . . .";
	grid-area: dashboard-resume-container;
	border-radius: 25px;
}

.dashboard-resume-title {
	grid-area: dashboard-resume-title;
}

.dashboard-title {
	font-size: 26px;
	font-weight: 400;
	margin-top: 31px;
	margin-bottom: 41px;
}

.total-sales {
	width: 100%;
	height: 107px;
	border-radius: 25px;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"box-title"
		"box-number";
	grid-area: total-sales;
}

.box-title {
	width: 100%;
	height: 35px;
	grid-area: box-title;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-title h4 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 9px;
	margin-bottom: 7px;
}

.box-number h3 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
}

.box-number {
	grid-area: box-number;
	justify-self: center;
	align-self: center;
	margin-top: 16px;
}

.line {
	width: 95%;
	height: 1px;
	padding: 0 !important;
	margin: 0 !important;
	color: aliceblue;
	justify-items: center;
}

.total-cost {
	width: 100%;
	height: 107px;
	border-radius: 25px;
	background-color: black;
	grid-area: total-cost;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"box-title"
		"box-number";
}

.ros {
	width: 100%;
	height: 107px;
	border-radius: 25px;
	background-color: black;
	grid-area: ros;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"box-title"
		"box-number";
}

.products-sales {
	width: 100%;
	height: 107px;
	border-radius: 25px;
	background-color: black;
	grid-area: products-sales;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"box-title"
		"box-number";
}

@media (max-width: 767px) {
	.dashboard-resume-container {
		display: inline-block;
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 26px;
	}

	.dashboard-resume-title {
		height: auto;
		text-align: start;
	}

	.dashboard-title {
		margin: 15px 0 13px 18px;
		font-size: 16px;
	}

	.box-title h4 {
		font-size: 12px;
	}

	.box-number {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 13px;
	}

	.box-number h3 {
		font-size: 16px;
	}

	.total-sales {
		display: inline-block;
		width: 40%;
		height: 80px;
		margin-right: 9px;
		margin-bottom: 13px;
	}

	.total-cost {
		display: inline-block;
		width: 40%;
		height: 80px;
	}

	.ros {
		display: inline-block;
		width: 40%;
		height: 80px;
		margin-right: 9px;
		margin-bottom: 17px;
	}

	.products-sales {
		display: inline-block;
		width: 40%;
		height: 80px;
	}
}