.newPassword_formContainer {
	display: flex;
	height: 69.5vh;
	width: 100%;
	align-items: center;
}

.newPassword_form {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.newPassword_form .newPassword-form-label {
	font-size: 1rem;
	margin-bottom: 0.7rem;
}

.newPassword_form .formInputPassword {
	height: 3.375rem;
	font-size: 1rem;
	padding: 1rem 1.8rem;
	/* margin-bottom: 23vh; */
	background-color: #FDD6A0;
	border-radius: 1rem;
	border: transparent;
}

.repass-input-group {
	margin-bottom: 23vh;
}

.newPassword_buttonContainer button {
	height: 3.375rem;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1.75rem;
}

.newPassword_form .showPasswordImage-button {
	height: 3.375rem;
}

.newPassword-password-container {
	margin-bottom: 2rem;
}

.newPassword_form .showPasswordImage-button,
.newPassword_form #button-addon2 {
	border: 0 !important;
	border-radius: 0 1rem 1rem 0;
	background-color: #FDD6A0;
	margin-left: 0;
}

@media screen and (max-width:920px) {

	.newPassword_formContainer {
		height: 36vh;
	}

	.newPassword_form .formInputPassword,
	.newPassword_form .submitButton,
	.newPassword_buttonContainer .submitButton {
		height: 2.5rem;
		font-size: 0.75rem;
	}

	.newPassword_form .newPassword-form-label {
		margin: 0 0 0.56rem;
		font-size: 0.75rem;
	}

	.newPassword-password-container {
		margin-bottom: 1.6rem;
	}

	.newPassword-repassword-container {
		margin-bottom: 2.3rem;
	}

	.newPassword_form {
		justify-content: flex-start;
		margin-top: 2rem;
	}

	.repass-input-group {
		margin-bottom: 10.6vh;
	}

	.newPassword_buttonContainer .submitButton {
		margin-bottom: 1rem;
	}

	.newPassword_form .showPasswordImage-button {
		height: 2.5rem !important;
	}
}