.newPassword_formContainer {
	display: flex;
	height: 100%;
	width: 100%;
}

.newPassword_form {
	height: 100%;
	width: 100%;
}

.newPassword_form .form-label {
	font-size: 1rem;
	margin-bottom: 0.7rem;
}

.newPassword_form .formInput {
	height: 3.5rem;
	font-size: 1rem;
	padding: 1rem 1.8rem;
	margin-bottom: 12rem;
}

.newPassword_buttonContainer button {
	height: 3.5rem;
	width: 100%;
	border-radius: 1rem;
}

.showPasswordImage-button {
	height: 3.5rem;
}

.newPassword-password-container {
	margin-bottom: 2rem;
}

@media screen and (max-width:920px) {

	.newPassword_form .form-label,
	.newPassword_form .formInput {
		font-size: 0.75rem;
	}

	.newPassword_buttonContainer button {
		font-size: 0.75rem;
	}

	.newPassword-password-container {
		margin-top: 1.8rem;
		margin-bottom: 1.6rem;
	}

	.input-group {
		height: 3.5rem;
	}

	.newPassword-repassword-container {
		margin-bottom: 2.3rem;
	}

	.newPassword_buttonContainer button {}
}