.top-products-container {
	width: 100%;
	height: 100%;
	background-color: #ffff;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1.7fr;
	grid-template-rows: 0.3fr 0.1fr 0.5fr;
	gap: 0px 0px;
	grid-template-areas:
		"top-products-title"
		"table-tags"
		"top-products-list";
	grid-area: top-products-container;
	padding-left: 48px;
	padding-right: 45px;
}

.top-products-title {
	grid-area: top-products-title;
	width: 125px;
	font-size: 20px;
	height: 23px;
	margin-top: 23px;
	margin-bottom: 20px;
}

.table-tags {
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "product-name product-sales";
	grid-area: table-tags;
}

.product-name {
	grid-area: product-name;
	height: 40px;
}

.product-sales {
	display: flex;
	grid-area: product-sales;
	height: 40px;
	justify-content: flex-end;
	text-align: right;
}

.top-products-container h5 {
	font-size: 16px;
	opacity: 0.5;
	margin: 0;
	font-weight: 400;
}

.top-products-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 0px 0px;
	grid-template-areas:
		"top-products-button1"
		"top-products-button2"
		"top-products-button3";
	grid-area: top-products-list;
}

.top-products-button1 {
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"product1-descr product1-sales";
	grid-area: top-products-button1;
}

.top-products-button2 {
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"product2-descr product2-sales";
	grid-area: top-products-button2;
}

.top-products-button3 {
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"product3-descr product3-sales";
	grid-area: top-products-button3;
}

.top-products-button {
	height: 54px;
	background-color: white;
	border-width: 0;
	border-radius: 16px;
	padding-left: 11px;
	padding-right: 17px;
}

.top-products-button:hover {
	background-color: #FBAE43;
}

.top-products-button:focus {
	background-color: #FBAE43;
}

.top-products-list img {
	width: 40px;
	border-radius: 50%;
}

.product-descr {
	display: flex;
	height: 54px;
	align-items: center;
}

.product-sales-data {
	display: flex;
	height: 54px;
	align-items: center;
	justify-content: flex-end;
}

.product-descr span {
	font-size: 16px;
	margin: 0 0 0 16px;
	text-align: left;
}

@media (max-width: 900px) {
	.top-products-container {
		padding: 15px 15px 23px;
	}

	.top-products-title {
		font-size: 16px;
	}

	.top-products-container h5 {
		font-size: 12px;
	}

	.product-descr {
		height: auto;
	}

	.product-descr span {
		font-size: 12px;
		text-align: left;
	}

	.product-sales-data {
		font-size: 12px;
		height: 40px;
	}

	.top-products-button {
		height: 40px;
	}

	.top-products-button1,
	.top-products-button2,
	.top-products-button3 {
		grid-template-columns: 0.8fr 0.2fr;
		margin-bottom: 5px;
	}
}